.item {
  position: relative;
}

.item__img {
  width: 280px;
  height: 330px;
  object-fit: cover;
  object-position: top;
  margin-bottom: 11px;
}

.item__favorite-btn {
  position: absolute;
  top: 20px;
  right: 20px;
  background-color: transparent;
  border: none;
  color: white;
  transition: color .4s ease, opacity .4s ease;
}

.item__favorite-btn.active {
  color: var(--pink-color);
}

.item__favorite-btn:hover {
  color: var(--pink-color);
  opacity: 0.5;
}

.item__favorite-btn:active {
  color: var(--pink-color);
}

.item__favorite-btn:focus {
  color: var(--pink-color);
  opacity: 0.75;
}

.item__control-wrapper {
  display: grid;
  grid-template-columns: 1fr 115px;
  gap: 9px;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}

.item__title {
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
}



.item__price {
  margin: 0;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
}

.item__old-price {
  position: relative;
  font-size: 14px;
  line-height: 17px;
}

.item__old-price:after {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  left: 0;
  top: 50%;
  background-color: var(--pink-color);
  transform: rotate(-4.34deg);
}
.item__description-btn{
  border: none;
  background-color: transparent;
}

.item__description-text {
  position: relative;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
}

.item__description-text:hover {
  color: #464343;
}

.item__description-text:after {
  content: '';
  position: absolute;
  display: block;
  height: 1px;
  width: 100%;
  left: 0;
  bottom: 1px;
  background-color: var(--main-color);
}

.item__description-text:active {
  color: #272727;
}

.item__description-text:active:after {
  height: 0;
}

.item__description-text:focus {
  color: #6C6767;
}
